<body>
    <mat-card>
        <div class="titulo">
            <h2>
                SPA :)
            </h2>
        </div>
    </mat-card>

    <nav>
        <ul>
            <li>
                <a routerLink="/home" routerLinkActive="selected">Home</a>
            </li>
            <li>
                <a routerLink="/sobre" routerLinkActive="selected">Sobre</a>
            </li>
            <li>
                <a routerLink="/contato" routerLinkActive="selected">Contato</a>
            </li>
        </ul>
    </nav>  
</body>

<router-outlet></router-outlet>