<body>
    <header>
        <h1><i>Blog angular 8</i></h1>
    </header>

    <div class="container">
        <p>{{frase}}</p>

        <div>
            <h3>O que utilizamos para criar esse projeto?</h3>

            <ul>
                <li>Angular 8</li>
            </ul>
            <ul>
                <li>HTML5</li>
            </ul>
            <ul>
                <li>typescript</li>
            </ul>
            <ul>
                <li>CSS</li>
            </ul>
        </div>
        <p>Usamos interpolação para transportar o valor para a página, fazendo assim que a página interaja com o componente.</p>
    </div>
</body>